.catalog-container {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}
 
.shoes-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.sort-dropdown {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sort-label {
  margin-right: 10px;
}

.shoes-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 40px;
}

.shoe-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shoe-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.shoe-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.shoe-info {
  display: flex;
  padding: 15px;
  flex-direction: column;
}

.shoe-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.shoe-price {
  font-size: 16px;
  color: #888;
}

.note-text {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 992px) {
  .shoes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .shoes-grid {
    grid-template-columns: 1fr;
  }
}
