/* Home.css */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.home-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.home-content {
  max-width: 600px;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 1rem;
  margin-bottom: 20px; /* Add margin-bottom to NavBar */
}

.NavBar a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.NavBar a:hover {
  background-color: #444;
}



